<h1>My Listings</h1>

<div class="topbar">
  <div class="container">
    <div class="vartical-center">
      <%= link_to 'Home', root_path %> > my listings 
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="newest">newest</div>
     <div class="oldest">oldest</div>
     <div class="highest-price">highest-price</div>
    <div class="lowest-price">lowest-price</div>

    <ul class="list-margin">
      <% if @listings.present? %>
        <% @listings.each do |f| %>
        <li>
          <span>
            <%= f.created_at.strftime('%B %d, %Y') %>
          </span>
          <%= link_to f.title, f %> - (<%= f.city %>, <%= f.state %>)
        <li>
        <% end %>
      <% else %>
        <p>No listings found!</p>
      <% end %>
    </ul>
  </div>
</div>