<h1 class="page_title">New Listing</h1>

<%= form_for(@listing) do |f| %>
  <div class="row">
    <div class="col-md-4">

      <div class="card">
        <div class="card-block">
          <% if @listing.new_record? %>
          <h4 class="card-title">New Listing</h4>
          <% else %>
          <h4 class="card-title">
            <b>Edit</b>
            <span class="thin-text"><%= @listing.title %></span>
          </h4>
          <% end %>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="field">
              <%= f.label :title%><br />
              <%= f.text_field :title, class: "form-control"%>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= f.label :description %><br />
              <%= f.text_field :description, class: "form-control" %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= f.label :category %><br />
              <%= f.select :category, Category.all.map { |f| [f.name, f.id] } %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= f.label 'Tags' %>
              <%= f.text_field :tag_list, class: 'form-control' %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= f.label :state %>
              <%= f.text_field :state, class: "form-control" %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= f.label :city %><br />
              <%= f.text_field :city, class: "form-control" %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= f.label :college %><br />
              <%= f.text_field :college, class: "form-control" %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="field">
              <%= f.label :zipcode %><br />
              <%= f.text_field :zipcode, class: "form-control", maxlength: "5" %>
            </div>
          </li>
          <li class="list-group-items">
            <div class="actions">
              <%= f.submit "Submit", class: "btn btn-success btn-block" %>
            </div>
          </li>
        </ul>
      </div>

      <% if @listing.persisted? %>
      <%= link_to 'Show', @listing %> |
      <% end %>
      <%= link_to 'Back' %>

    </div>
    <div class="col-md-8">
      <div class="field">
        <%= f.text_area :description %>
      </div>
    </div>
  </div>
<% end %>



<!-- <div class="container-fluid">
    <div class="listing-form">
        <%= form_for(@listing) do |f| %>
            <%= f.label :title%><br />
            <%= f.text_field :title, class: "_field"%>
            <br />
            <br />
            <%= f.label 'Tags' %><br />
            <%= f.text_area :tag_list, class: 'form-control' %>
            <br />
            <br />
            <%= f.label :description %><br />
            <%= f.text_area :description, class: "desc_field" %>
            <br />
            <br />
            <%= f.label :category %>
            <%= f.select :category, Category.all.map { |f| [f.name, f.id] } %>
            <br />
            <br />
            <%= f.label :city %><br />
            <%= f.text_field :city, class: "_field" %>
            <br />
            <br />
            <%= f.label :state %><br />
            <%= f.text_field :state, class: "state_field" %>
            <br />
            <br />
            <%= f.label :college %><br />
            <%= f.text_field :college, class: "college_field" %>
            <br />
            <br />
            <%= f.label :zipcode %><br />
            <%= f.text_field :zipcode, class: "zip_field", maxlength: "5" %>
            <br />
            <br />
            <%= f.submit 'Submit', class: "button" %>
        <% end %>
    </div>
</div> -->
