<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      <%= link_to 'rubyslist', root_path %> > <%= link_to @listing.category.name, category_path(@listing.category) %> >
  </div>
</div>

<div class="row">
  <div class="col-md-1 col-lg-2"></div>
  <div class="col-md-10 col-lg-8 text-xs-center">
    <h1><%= @listing.title %></h1>
    <h6>posted <%= time_ago_in_words(@listing.created_at) %></h6>
    <%= @listing.body.html_safe %>

    <div class="user-bio">
    </div>

    <div id="disqus_thread">
      <%= render 'disqus' %>
    </div>

  </div>
</div>
<!-- <div id="post-panel">
  <div class="post-panel">
    <div>
      <div>
        <h4 class="listing-title"><%= link_to @listing.title, @listing %></h1>
        <p class="tags"><%= raw @listing.tags.map { |t| link_to t.name, listings_path(tag: t.name) }.join(', ') %></p>
        <p class="card-text"><%= truncate(@listing.description, length: 130) %></p>
        <%= link_to 'Read', @listing, class: 'button' %>
      </div>
        <% if @listing.user = current_user %>
          <p><%= link_to 'edit', edit_listing_path %></p>
        <p><%= link_to 'delete', @listing, data: {confirm: "Are you sure you want to delete this listing?" }, method: :delete %></p>
        <% end %>
        <p>post id: <%= @listing.id %></p>
        <button type="button">reply</button>
        posted <%= time_ago_in_words(@listing.created_at) %>
    </div>
  </div>
</div> -->
