<h1>Edit Profile<h1>

<%= form_for(@user, html: { multipart: true }) do |f| %>
    <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username %>
        <%= f.file_field :avatar %>
    </div>
    <div class="actions">
        <%= f.submit "Save Changes" %>
    </div>
<% end %>