<body>
  <div class="container">
    <div class="page-header">
      <h1>TheFuture Are Us</h1>
    </div>

    <ul>
      <li>
        <%= form_tag search_listings_path, method: :get do |f|%>
          <%= text_field_tag :search, nil, class: 'button button-list', placeholder: 'search' %>
          <%= text_field_tag :location, nil, class: 'button button-list', placeholder: 'near'%>
          <%= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id]}) %>
          <%= submit_tag '>' %>
        <% end %>
      </li>
    </ul>

    <ul>
      <li class="categories"><%= link_to 'Automotive', category_path(@automotive) %></li>
      <li class="categories"><%= link_to 'Beauty', category_path(@beauty) %></li>
      <li><%= link_to 'Technology', category_path(@technology) %></li>
      <li class="categories"><%= link_to 'Academic', category_path(@academic) %></li>
      <li class="categories"><%= link_to 'Art/Design', category_path(@art) %></li>
      <li class="categories"><%= link_to 'Videography/Photography', category_path(@photography) %></li>
      <li class="categories"><%= link_to 'Culinary', category_path(@culinary) %></li>
      <li class="categories"><%= link_to 'Fashion', category_path(@fashion) %></li>
      <li class="categories"><%= link_to 'Fitness', category_path(@fitness) %></li>
      <li class="categories"><%= link_to 'Childcare', category_path(@childcare) %></li>
      <li class="categories"><%= link_to 'Event Services', category_path(@event_services) %></li>
    </ul>
  </div>
</body>
