<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
        <li class="button-left left-side"><%= link_to "Home", root_path %></li>
        <li class="button-left left-side"><%= link_to "Team", root_path %></li>
        <li class="button-left left-side"><%= link_to "Top Listings", root_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!-- Add if statement for signed in / signed out users -->
      <li class="button button-list">
        <a href="#">Search Listings</a>
      </li>
      <% if user_signed_in? %>
        <li class="button button-list"><%= link_to "Create A Listing!", new_listing_path %></li>
        <li><%= link_to 'My Account', edit_user_registration_path %></li>
        <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
        <li><%= link_to 'My Listings', mylistings_path %></li>
      <% else %>
        <li class="button"><%= link_to 'Sign In / Sign Up', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
